<header>
  <nav class="navbar">
    <div class="logo">
      <a href="index.html#home"
        ><i class="fas fa-school"></i> Baralai High School</a
      >
    </div>
    <button class="menu-btn" onclick="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-links">
      <li>
        <a href="index.html#home"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="index.html#features"><i class="fas fa-star"></i> Why Choose</a>
      </li>
      <li>
        <a href="index.html#about"><i class="fas fa-school"></i> About</a>
      </li>
      <li>
        <a href="index.html#teachers"
          ><i class="fas fa-chalkboard-teacher"></i> Teachers</a
        >
      </li>
      <li>
        <a href="index.html#staff"><i class="fas fa-users"></i> Staff</a>
      </li>
      <li>
        <a href="index.html#notices"><i class="fas fa-bell"></i> Notices</a>
      </li>
      <li>
        <a href="result.html"><i class="fas fa-chart-bar"></i> Results</a>
      </li>
      <li>
        <a href="index.html#quick-links"><i class="fas fa-link"></i> Links</a>
      </li>
      <li>
        <a href="index.html#contact"><i class="fas fa-phone"></i> Contact</a>
      </li>
    </ul>
  </nav>
</header>
